main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #map {
  height: 50%;
  width: 50%;
  position: relative;
}

.aside {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}
